.pokemon-card {
    padding: 20px;
    cursor: pointer;
    background-color: rgba(4, 12, 24, 0.6);;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    color: white;
    backdrop-filter: blur(16px);
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
}
.pokemon-card:hover {
    transform: translateY(-4px);
}

.pokemon-card h4 {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(112, 106, 106);
}

.pokemon-card img {
    width: 60%;
}

.corner-circle {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    top: -50px;
    right: -50px;
    background-color: #A8A77A;
    opacity: 0.12;
    transition: transform 0.4s ease-in-out;
}

.pokemon-card:hover .corner-circle {
  transform: scale(1.4);
}

.types {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.types span {
    width: 80px;
    height: fit-content;
    padding: 2px;
    font-size: 0.8rem;
    text-align: center;
    color: black;
    border-radius: 20px;
    background-color: yellow;
}