.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-card {
    position: relative;
    width: 80%;
    background-color: #07152b;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.close {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 4px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #528ae52f;
    color: white;
    font-size: 1.2rem;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.img-panel {
    position: relative;
    margin: 0px;
    padding: 40px;
    width: 40%;
    border-radius: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    overflow: hidden;
}
.img-panel>* {
    z-index: 2;
}

.img-panel span {
    border: 1px solid black;
}

.img-panel h3 {
    width: 100%;
    font-size: 2.4rem;
    text-align: center;
    filter: drop-shadow(0 0 20px black);
}

.img-panel img {
    width: 80%;
    filter: drop-shadow(0 0 60px black);
}

.bg-ring {
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 40px;
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 20px solid white;
    opacity: 20%;
}

.info-panel {
    margin: 0px;
    padding: 40px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.info {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.info p {
    padding: 16px;
    text-align: left;
    border-radius: 16px;
    background-color: rgba(120, 120, 120, 0.4);
    width: 50%;
    color: darkgrey;
}
.info p span {
    color: white;
    font-size: 2.5rem;
}

.stats {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(120, 120, 120, 0.2);
    border-radius: 20px;
}
.stats>* {
    width: 100%;
}

.stats h5 {
    font-size: 1.4rem;
    color: whitesmoke;
    padding: 10px;
}

.stat-item {
    margin: 6p 0x;
    display: grid;
    grid-template-columns: 140px 1fr 40px;
    align-items: center;
    gap: 12px;
}

.stat-name {
    font-size: 0.85rem;
    color: silver;
    text-align: left;
    white-space: normal; 
    line-height: 1.2;
}
.stat-num {
    font-size: 0.85rem;
    color: silver;
    text-align: right;
}

.stat-bar {
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.2);
    overflow: hidden;
}
.stat-value {
    height: 100%;
    width: var(--value);
    border-radius: 10px;
    animation: grow-bar 1.2s ease-in-out forwards;
}

@keyframes grow-bar {
    from {
        width: 0;
    }
    to {
        width: var(--value);
    }
}