.search-bar-container {
    margin: 4px 0;
    text-align: center;
}

input {
    padding: 4px 12px;
    font-size: 1rem;
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #528ae52f;
    color: silver;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}