footer {
    margin-top: 10px;
    padding: 10px 0 10px 0;
    position: absolute;
	bottom: 0px;
	background-color: rgba(4, 12, 24, 0.8);
	height: fit-content;
    width: 100vw;
    text-align: center;
    color: white;
    z-index: 100;
    font-size: 12px;
}
footer a {
    text-decoration: none;
    color: white;
}