main {
    margin-top: 80px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h2 {
    position: relative;
    width: 90%;
    margin: 20px auto;
    padding: 16px 40px;
    color: whitesmoke;
    font-size: 2rem;
    text-shadow: 0 0 20px #020a17;
    background-color: rgba(4, 12, 24, 0.4);
    border-radius: 40px;
    backdrop-filter: blur(20px);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer {
    margin-top: 10px;
    padding: 10px 0 10px 0;
    position: relative;
	bottom: 0px;
	background-color: rgba(4, 12, 24, 0.8);
	height: fit-content;
    width: 100vw;
    text-align: center;
    color: white;
    z-index: 100;
    font-size: 12px;
}
footer a {
    text-decoration: none;
    color: white;
}