body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
}